/* Estilos básicos para todas las páginas */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    text-align: center;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
}

.hero {
    background-image: url('images/imagen-tienda.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 50px;
    margin: 0;
}

.hero p {
    font-size: 20px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.producto {
    background-color: white;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.ofertas, .contacto, .acerca-de {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilos para formularios en la página de contacto */
form {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}
